<!doctype html>
<html lang="en">

<head>
    <title>Quản lý sinh viên</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h3 class="text-center mt-5">Quản lý sinh viên</h3>
        <div class="form-group">
            <label>Mã sinh viên</label>
            <input id="maSV" class="form-control">
            <p id="error-maSV" class="text-danger"></p>
            <p id="error-format-maSV" class="text-danger"></p>
            <p id="error-length-maSV" class="text-danger"></p>
        </div>
        <div class="form-group">
            <label>Tên sinh viên</label>
            <input id="tenSV" class="form-control">
            <p id="error-tenSV" class="text-danger"></p>
            <p id="error-allLetter-tenSV" class="text-danger"></p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input id="eMail" class="form-control">
            <p id="error-eMail" class="text-danger"></p>
            <p id="error-format-eMail" class="text-danger"></p>
        </div>
        <div class="form-group">
            <label>Loại sinh viên</label>
            <select id="loaiSV" class="form-control">
                <option value=1>Khó khăn</option>
                <option value=2>Bình thường</option>
                <option value=3>Giàu</option>
            </select>
        </div>
        <div class="row">
            <div class="col-4 form-group">
                <label>Điểm toán</label>
                <input id="diemToan" class="form-control">
                <p id="error-diemToan" class="text-danger"></p>
                <p id="error-format-diemToan" class="text-danger"></p>
            </div>
            <div class="col-4 form-group">
                <label>Điểm lý</label>
                <input id="diemLy" class="form-control">
                <p id="error-diemLy" class="text-danger"></p>
                <p id="error-format-diemLy" class="text-danger"></p>
            </div>
            <div class="col-4 form-group">
                <label>Điểm hóa</label>
                <input id="diemHoa" class="form-control">
                <p id="error-diemHoa" class="text-danger"></p>
                <p id="error-format-diemHoa" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group">
            <label>Điểm rèn luyện</label>
            <input id="diemRenLuyen" class="form-control">
            <p id="error-diemRenLuyen" class="text-danger"></p>
            <p id="error-format-diemRenLuyen" class="text-danger"></p>
        </div>
        <div class="form-group text-center">
            <button id="btnThemSV" class="btn btn-success">Thêm sinh viên</button>
            <button id="btnChinhSua" class="btn btn-warning" disabled>Cập nhật chỉnh sửa</button>
        </div>

        <table class="table mt-5 text-center">
            <tr>
                <th>Mã sinh viên</th>
                <th>Tên sinh viên</th>
                <th>Email</th>
                <th>Loại sinh viên</th>
                <th>Điểm trung bình</th>
                <th>Điểm rèn luyện</th>
                <th>...</th>
            </tr>
            <tbody id="tableSinhVien">

            </tbody>
        </table>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- ajax js cdn - thư viện giao tiếp với API backend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <!-- modals -->
    <script src="../modals/Validation.js"></script>
    <script src="../modals/SinhVien.js"></script>

    <!-- services -->
    <script src="../services/SinhVienService.js"></script>

    <!-- controllers -->
    <!-- <script src="../controllers/index.js"></script> -->
    <script src="../controllers/indexAjax.js"></script>
</body>

</html>